.w6 {
	font-size: 3.6rem;
	line-height: 4rem
}
.x6+.x6 {
	margin-top: 4rem
}
.y6 {
	font-size: 6rem;
	line-height: 6rem
}
.z6 {
	font-size: 2rem;
	line-height: 2rem
}
.a7 {
	color: #fff
}
.b7 {
	font-weight: 700
}
.a5 {
	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	overflow-y: auto;
	background-color: var(--overlay-background-color);
	animation: b5 .15s cubic-bezier(.16, 1, .3, 1);
	z-index: 1000;
	backdrop-filter: blur(var(--overlay-blur));
	inset: 0
}
.c5 {
	position: relative;
	width: 76rem;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
	background-image: linear-gradient(#fff, #fff), linear-gradient(-45deg, #e1f0a3, #9277d2);
	border: .4rem solid rgba(0, 0, 0, 0);
	border-radius: 2.4rem;
	box-shadow: .5rem .5rem 5.5rem rgba(0, 0, 0, .25);
	animation: d5 .15s cubic-bezier(.16, 1, .3, 1);
	background-clip: content-box, border-box;
	background-origin: border-box
}
.c5:focus {
	outline: none
}
.e5 {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	flex-shrink: 0;
	cursor: pointer
}
.f5 {
	padding: 9.1rem 7.6rem 7.6rem
}
@keyframes b5 {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes d5 {
	0% {
		opacity: 0;
		transform: scale(.96)
	}
	to {
		opacity: 1;
		transform: scale(1)
	}
}
.b6 {
	counter-reset: item;
	list-style: none
}
.c6 {
	--font-size: 16rem;
	position: relative
}
.c6:before {
	position: absolute;
	right: calc(100% + 4rem);
	bottom: calc(100% - var(--font-size)/2);
	content: counter(item);
	counter-increment: item;
	font-size: var(--font-size);
	line-height: 1;
	font-weight: 200;
	color: #d9d9d9
}
.o4 {
	row-gap: 2rem;
	width: 100%
}
.o4, .p4 {
	display: flex;
	flex-direction: column
}
.p4 {
	gap: 1.8rem
}
.q4 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between
}
.r4 {
	display: block;
	font-size: 2rem
}
.r4, .s4 {
	line-height: 2rem
}
.s4 {
	font-size: 1.6rem;
	color: var(--input-error-border-color)
}