/* FONTS */
@font-face {
	font-display: swap;
	font-family: "Hauora Sans";
	font-style: normal;
	font-weight: 200;
	src: url("fonts/Hauora-ExtraLight.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Hauora Sans";
	font-style: normal;
	font-weight: 300;
	src: url("fonts/Hauora-Light.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Hauora Sans";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/Hauora-Regular.woff2") format("woff2");
}
@font-face {
	font-display: swap;
	font-family: "Hauora Sans";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/Hauora-Bold.woff2") format("woff2");
}

:root {
	/*font-size: 10px;*/
	--font-hauora-sans: "Hauora Sans", system-ui, sans-serif;
	--primary-color: #d3e599;
	--accent-color: #9277d2;
	/* Overlay */
	--overlay-blur: 1rem;
	/* Input */
	--input-height: 8rem;
	--input-padding: 0 4rem;
	--input-font-size: 2rem;
	--input-line-height: 1;
	--input-border-radius: 2.4rem;
	--input-border-width: 0.22rem;
	--input-placeholder-color: #c2c2c2;
	--input-text-color: #000;
	--input-required-border-color: #6c6c6c;
	--input-border-color: #d9d9d9;
	--input-error-border-color: #fb4040;
	--input-background-color: #fff;
	--input-hover-border-color: var(--accent-color);
	/* Select */
	--select-item-border-radius: 1.8rem;
}
* {
	box-sizing: border-box
}
:after,
:before {
	box-sizing: inherit
}
html {
	background: #fff;
	color: #000;
	font-family: var(--font-hauora-sans);
	font-size: calc((100vw - var(--scrollbar-width, 0))/1920*10);
	scroll-behavior: smooth;
}
@media screen and (max-width: 768px) {
	html {
		--scrollbar-width: 0px;
	}
}
@media screen and (min-width: 769px) {
	html {
		--scrollbar-width: 15px;
	}
}

body {
	position: relative
}
h2 {
	font-size: 10.4rem;
	line-height: 8rem;
}
h3 {
	font-size: 8rem;
	line-height: 8rem;
}
h4 {
	font-size: 6rem;
	line-height: 4rem;
}
p,
ul {
	font-size: 2.8rem;
	line-height: 4rem;
}
p.default {
	font-size: 3.6rem;
}
p.small {
	font-size: 2rem;
	line-height: 2rem;
}
p + p {
	margin-top: 4rem;
}
figure {
	line-height: 0;
}

/* Блок "Оставить заявку" */
.request {
	display: grid;
	grid-template-columns: 1fr 32rem 68rem;
	grid-template-rows: 1fr auto;
	gap: 1.8rem 4rem;
	align-items: center;
	margin: 16rem 0;
	padding: 0 8rem;
}
.request__text {
	font-size: 2.8rem;
	line-height: 4rem;
}
.request__divider {
	height: .3rem;
	width: 32rem;
	background: #000;
}
.button {
	line-height: 16rem;
	font-size: 2.6rem;
	background: var(--primary-color);
	transition: background-color .2s;
	cursor: pointer;
}
.request__button-hint {
	grid-area: 2/3;
	font-size: 2rem;
	text-align: center;
}

/* COMMON */
section {
	position: relative;
}
section:not(.section--img-800x1040) {
	padding-left: 8rem;
	padding-right: 8rem;
}
section .event-name {
	position: absolute;
	top: 8rem;
	left: 8rem;
	width: 15rem;
	color: #fff;
	font-size: 3rem;
	font-weight: 300;
	line-height: 3rem;
}
.section--img-800x1040 {
	display: flex;	
}
.section--img-800x1040 img {
	width: 80rem;
	height: auto;
}
.section--img-800x1040 .text-content {
	padding: 8rem;
	box-sizing: content-box;
}
.section--img-800x1040 a.button {
	display: inline-block;
	width: 32rem;
	margin-left: auto;
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 8rem;
	color: #fff;
	background: #FB4040;
	border-radius: 8rem;
	text-align: center;
	text-decoration: none;
}
.section--img-800x1040::after,
.blot::after {
	content: '✦';
	position: absolute;
	top: 9rem;
	right: 9rem;
	font-size: 5rem;
}

/*            */
/*  SECTIONs  */
/*            */
.section-11 {
	padding-bottom: 8rem;
}
.section-11 figure {
	float: right;
}
.section-11 img {
	width: 68rem;
	height: auto;
}
.section-11 h2 {
	padding: 8rem 0 16rem;
}
.section-11 ul {
	margin-left: 37rem;
}
.section-11 p {
	font-size: 3.6rem;
	line-height: 8rem;
}
.section-11 li::before {
	top: 10rem !important;
}
.section-11 li:nth-child(2) {
	margin-top: 17rem;
	margin-left: 70.8rem;
	margin-bottom: 7rem;
}
.section-11 li:nth-child(4) {
	margin-top: 16rem;
	margin-left: 70.8rem;
}
/* ~~~ */
.section-12 {
	padding-bottom: 19rem;
	background: url(images/sections/section-12/bg-green-curve.svg) bottom right/163.2rem no-repeat;
}
.section-12 h2 {
	display: inline-block;
}
.section-12 p.default {
	display: inline-block;
	vertical-align: top;
	width: 96rem;
	margin-left: 17rem;
	padding: 12rem 12rem 0 16rem;
	background: url(images/sections/section-12/bg.jpg) 0 0 / contain no-repeat;
}
.section-12 ul,
.section-15 ul {
	margin-top: 42rem;
	margin-left: 40rem;
}
.section-12 li a,
.section-15 li a {
	color: inherit;
	font-size: 2rem;
	padding: 2rem 0 .1rem;
	text-decoration: none;
	border-bottom: .05rem solid #000;
}
.section-12 li,
.section-15 li {
	width: 40rem;
	margin-top: -18rem;
}
.section-12 li:nth-child(even),
.section-15 li:nth-child(even) {
	margin-left: 72rem;
}
.section-12 li::before,
.section-15 li::before {
	top: 9rem !important;
	left: -14rem !important;
}
.section-12 li img,
.section-15 li img {
	width: 32rem;
	height: auto;
	margin: 4rem 0 1rem;
}
/* ~~~ */
.section-14 {
	background: #E1F0A3;
}
.section-14::after {
	display: none;
}
.section-14 .text-with-padding {
	box-sizing: content-box;
	width: 74rem;
	padding: 17rem 0 11rem 14rem;
}
/* ~~~ */
.section-15 {
	padding: 2.5rem 0;
	background: url(images/sections/section-15/bg.jpg) 0 0/192rem no-repeat;
}
.section-15 ul {
	margin-top: 0;
}
.section-15 li:first-child {
	margin-top: 0;
}
/* ~~~ */
.section-16 {
	background: #E1F0A3;
}
.section-16::after {
	bottom: 3rem;
	top: auto;
}
.section-16 figure {
	position: relative;
}
.section-16 figcaption {
	color: #fff;
	font-size: 2rem;
	font-weight: 300;
	position: absolute;
	bottom: 5rem;
	right: 5rem;
}
.section-16 .text-content {
	width: 72rem;
}
.section-16 .text-content h2 {
	margin-bottom: 13rem;
}
/* ~~~ */
.section-17 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.section-17 .event-name {
	top: 18rem;
	font-size: 3.6rem;
	color: #000;
}
.section-17 .section-head {
	display: flex;
	padding: 8rem 0 32rem;
	text-transform: lowercase;
}
.section-17 .section-head::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 125.4rem;
	height: 66.4rem;
	z-index: -1;
	background: url(images/sections/section-17/bg-decor.svg) 0/cover;
}
.section-17 .section-head::after {
	content: '';
	position: absolute;
	top: 8rem;
	left: 8rem;
	right: 8rem;
	height: 56rem;
	z-index: -2;
	background: url(images/sections/section-17/bg.jpg) 0/cover;
}
.section-17 h2 {
	width: 70rem;
	margin-left: 36rem;
}
.section-17 .text-content {
	width: 82rem;
	margin: -15rem 0 0 72rem;
}
.section-17 ul.list-experts {
	list-style: unset;
	padding: 8rem 0 0 5rem;
}
.section-17 ul.list-experts li {
	margin-bottom: 4rem;
	padding-left: 1rem;
}
.section-17 ul.logo-experts {
	margin-top: 17rem;
	display: flex;
	justify-content: space-between;
}
.section-17 ul.logo-experts li {
	background: center/contain no-repeat;
}
.section-17 ul li.logo-google {
	width: 6.9rem;
	height: 5rem;
	background-image: url(images/sections/section-17/logo-google.svg);
}
.section-17 ul li.logo-amazon {
	width: 7.6rem;
	height: 5rem;
	background-image: url(images/sections/section-17/logo-amazon.svg);
	background-position-y: 70%;
}
.section-17 ul li.logo-netflix {
	width: 7.4rem;
	height: 5rem;
	background-image: url(images/sections/section-17/logo-netflix.svg);
}
.section-17 ul li.logo-apple {
	width: 3.8rem;
	height: 4.6rem;
	background-image: url(images/sections/section-17/logo-apple.svg);
}
.section-17 ul li.logo-microsoft {
	width: 14.6rem;
	height: 5rem;
	background-image: url(images/sections/section-17/logo-microsoft.svg);
}
.section-17 ul li.logo-meta {
	width: 8.7rem;
	height: 5rem;
	background-image: url(images/sections/section-17/logo-meta.svg);
}
.section-17 ul li.logo-tesla {
	width: 10.7rem;
	height: 5rem;
	background-image: url(images/sections/section-17/logo-tesla.svg);
}
/* ~~~ */
.section-18 {
	padding-top: 9rem;
}
.section-18 .person {
	columns: 2;
	column-gap: 7rem;
	width: 139rem;
}
.section-18 .person + .person {
	margin-top: 16rem;
}
.section-18 .person img {
	width: 64rem;
	height: 64rem;
}
.section-18 .person .name {
	padding-top: 4rem;
}
.section-18 .person .companies {
	margin-top: 8rem;
	font-weight: bold;
}
.section-18 .person a.more {
	display: inline-block;
	margin-top: 9rem;
	padding: 1.4rem 0 0.7rem;
	color: #000;
	font-size: 2rem;
	text-decoration: none;
	border-bottom: .1rem solid #000;
}
.section-18 .person a.more::before {
	content: 'Подробнее';
}
.section-18 .person a.more::after {
	content: ' >';
}
/* ~~~ */
.section-19 {
	background: #FCFECE;
}
.section-19 h2::first-letter {
	margin-left: 0.3rem;
}
.section-19 .event-name {
	top: 15rem;
}
.section-14 .text-content,
.section-19 .text-content,
.section-23 .text-content,
.section-25 .text-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.section-19 .text-with-padding {
	box-sizing: content-box;
	width: 77rem;
	padding: 17rem 0 15rem 8rem;
}
/* ~~~ */
.section-20 {
	padding-top: 16rem;
	padding-bottom: 3rem;
	background: url(images/sections/section-20/planet.jpg) 0 100%/30.3rem no-repeat, url(images/sections/section-20/bg.jpg) 16rem 40rem/160rem no-repeat;
}
.flex-row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 8rem;
}
.section-20 .flex-row + .flex-row {
	margin-left: 24rem;
}
.section-20 .flex-row + .flex-row + .flex-row {
	margin-left: 48rem;
}
.section-20 .h-640 {
	height: 64rem;
	width: 88rem;
}
.section-20 .h-640 img {
	width: 64rem;
	height: 64rem;
}
.h-320 {
	height: 32rem;
	width: 80rem;
}
.section-20 .h-320 + .h-320 {
	width: 75rem;
}
.h-320 img {
	width: 32rem;
	height: 32rem;
}
.section-20 img,
.section-22 img {
	margin-right: 8rem;
}
.section-20 h4 {
	margin: 4rem 0 8rem;
}
.h-320 h4 {
	margin-bottom: 3.5rem;
}
/* ~~~ */
.section-21 {
	background: #FEF2CE;
	z-index: -1;
}
.section-21 .text-with-padding {
	box-sizing: content-box;
	width: 72rem;
	padding: 21rem 0 15rem 16rem;
}
/* ~~~ */
.section-22 {
	padding-top: 12rem;
	padding-bottom: 2rem;
}
.section-22::before {
	content: '';
	width: 130rem;
	height: 182rem;
	position: absolute;
	top: -63rem;
	right: 0;
	background: url(images/sections/section-22/bg.svg) 0 0/contain no-repeat;
	z-index: -1;
}
.section-22 .flex-row {
	width: 72rem;
	padding-left: 24rem;
	box-sizing: content-box;
}
.section-22 .flex-row + .flex-row {
	margin-left: 8rem;
}
.section-22 > h4 {
	margin-bottom: 14rem;
}
.section-22 .h-320 h4 {
	margin-top: 4rem;
}
/* ~~~ */
.section-23 {
	background: #FECEE7;
}
.section-23 .text-with-padding {
	box-sizing: content-box;
	width: 72rem;
	padding: 14rem 0 10rem 16rem;
}
/* ~~~ */
.section-24 {
	padding: 15.6rem 8rem 1rem 44rem !important;
	background: url(images/sections/section-24/mars.png) right 38rem/25.1rem no-repeat, url(images/sections/section-24/bg-grey.jpg) 0 0/100vw no-repeat;
}
.section-24::before {
	content: '';
	position: absolute;
	top: -25.5rem;
	left: 0;
	width: 178.8rem;
	height: 80rem;
	background: url(images/sections/section-24/bg.svg) 0/contain no-repeat;
	pointer-events: none;
}
.section-24 h4 {
	width: 35rem;
}
.section-24 ul {
	margin-top: 15.5rem;
	margin-left: 37rem;
}
.section-24 li {
	width: 50rem;
	margin-bottom: 8rem;
}
.section-24 li:first-child {
	margin-bottom: 4rem;
}
.section-24 li:nth-child(even) {
	margin-left: 36rem;
}
.section-11 li::before,
.section-12 li::before,
.section-15 li::before,
.section-24 li::before {
	position: relative;
	left: -13.4rem;
	top: 8.2rem;
	display: inline-block;
	width: 8.8rem;
	text-align: right;
	font-size: 16rem;
	font-weight: 200;
	color: #D9D9D9;
	content: counter(list-item);
}
/* ~~~ */
.section-25 {
	margin-top: 24rem;
	background: #CEFFC7 top 21rem right 15rem/21rem url(images/sections/section-25/lift-leaders.svg) no-repeat;
}
.section-25::before {
	content: '';
	position: absolute;
	top: -25.5rem;
	left: 0;
	width: 80rem;
	height: 166.8rem;
	background: 0 0/contain url(images/sections/section-25/bg.svg) no-repeat;
	pointer-events: none;
}
.section-25 h2 {
	width: 65rem;
}
.section-25 .text-with-padding {
	padding: 13rem 8rem 7rem 15.5rem;
}
/* ~~~ */
.section-26 {
	padding: 16rem 8rem 18rem;
}
.section-26::after {
	content: '✦';
	position: absolute;
	bottom: 12rem;
	right: 11rem;
	font-size: 5rem;
}
.section-26 .flex-row {
	height: 64rem;
}
.section-26 img {
	width: 64rem;
	height: 64rem;
}
.section-26 figure {
	margin-right: 8rem;
}
.section-26 h4 {
	width: 104rem;
	margin: 4rem 0 8rem;
}
.section-26 p.default {
	width: 76rem;
}
/* ~~~ */
.section-27 {
	padding-top: 6rem;
	padding-bottom: 7rem;
	background: url(images/sections/section-27/bg-decor.svg) 54rem 61rem/6.6rem no-repeat, url(images/sections/section-27/san-francisco-hub.svg) top 21.5rem left 0/11.5rem no-repeat, url(images/sections/section-27/bg.jpg) 0 0/100vw no-repeat;
}
.section-27::before {
	content: '';
	position: absolute;
	top: -7.3rem;
	right: 9rem;
	width: 14.6rem;
	height: 14.6rem;
	background: url(images/sections/section-27/planet.png) 0 0/contain no-repeat;
}
.section-27 ul {
	width: 68rem;
	margin-left: 72rem;
	list-style: unset;
}
.section-27 li {
	padding-left: 1rem;
}
.section-27 li:not(:last-child) {
	padding-bottom: 4rem;
}
.section-27 h2 {
	width: 46rem;
	margin: 14rem 0 19rem;
}
.section-27 h2 + p {
	width: 82.5rem;
	margin-left: 72rem;
}
/* ~~~ */
.section-28 {
	padding-bottom: 15rem;
	background: url(images/sections/section-28/bg-decor.svg) left 64rem bottom 50rem/8rem no-repeat, url(images/sections/section-28/bg-net.png) 0 bottom/125.5rem no-repeat, url(images/sections/section-28/bg-grey.jpg) 56rem bottom/119.8rem no-repeat;
}
.section-28 .content {
	width: 72rem;
	margin-left: 72rem;
}
.section-28 h2 {
	width: 50rem;
	top: -8.1rem;
	position: relative;
}
.section-28 h4 {
	width: 55rem;
	margin: 8rem 0 13rem 48rem;
}
.section-28 img.NEClub-logo {
	position: absolute;
	top: 12.5rem;
	right: 31rem;
	width: 23.4rem;
	height: auto;
}
.section-28 img.NEClub-photo {
	width: 72rem;
	height: auto;
	margin: 3.5rem 0 5rem;
}
.section-28 .event-name {
	text-align: right;
	top: auto;
	left: auto;
	bottom: 8rem;
	right: 27rem;
}
/* ~~~ */
.section-29 {
	display: flex;
	color: #fff;
	background: url(images/sections/section-29/arrow.svg) 52rem 27rem/68.7rem no-repeat, url(images/sections/section-29/icon-deer.svg) left 8rem bottom 8rem/8rem no-repeat, url(images/sections/section-29/bg.jpg) 0 0/192rem no-repeat;
}
.section-29 h2 {
	width: 85rem;
	padding: 24rem 0 48rem;
	margin-right: 38rem;
}
.section-29 ul {
	width: 55rem;
	margin-top: 25.6rem;
	list-style: unset;
}
.section-29 ul li {
	padding-left: 0.4rem;
}
/* ~~~ */
.section-30 {
	display: flex;
	flex-wrap: wrap;
	padding: 0 !important;
	background: url(images/sections/section-30/bg.svg) 0 48rem/100% no-repeat;
}
.section-30 .half-screen-square {
	width: 96rem;
	height: 96rem;
}
.section-30 .half-screen-square img {
	width: 96rem;
	height: auto;
}
.section-30 .people-9 {}
.section-30 .build-community-since-2010 {
	position: relative;
	background: url(images/sections/section-30/bg-4-people-in-a-circle.svg) top 9rem right 8rem/7.9rem no-repeat;
}
.section-30 .build-community-since-2010::before {
	content: '';
	width: 40.7rem;
	height: 24.2rem;
	position: absolute;
	top: -21.5rem;
	right: 10rem;
	border-radius: 2.6rem;
	transform: rotate(15deg);
	backdrop-filter: blur(14px);
	background: url(images/sections/section-30/card.svg) 0 0/contain no-repeat;
}
.section-30 .build-community-since-2010 h2 {
	padding-bottom: 13rem;
}
.section-30 .half-screen-square h2 ~ p {
	padding-left: 8rem;
}
.section-30 .half-screen-square:has(p) {
	padding: 8rem;
}
.section-30 .people-on-bikes {
	position: relative;
}
.section-30 .people-on-bikes::after {
	color: #fff;
	top: auto;
	bottom: 8rem;
}
.section-30 .people-on-bikes img {
	position: relative;
	z-index: -1;
}
.section-30 .H4-font-size {
	margin-right: 4rem;
	font-size: 10.4rem;
	line-height: 8rem;
	text-align: right;
}
.section-30 .H4-font-size,
.section-30 .text-2-lines {
	display: inline-block;
	width: 42%;
}
.section-30 p.flex {
	height: 20rem;
	display: flex;
	align-items: center;
}
.section-30 p.flex:first-child {
	margin-top: 2rem;
}
/* ~~~ */
.section-31 header {
	height: 32rem;
	padding: 8rem;
	margin: 0 -8rem;
	background: url(images/sections/section-31/bg.jpg) 0 0/contain no-repeat;
}
.section-31 h2 {
	width: 88rem;
}
.section-31 .event-name {
	color: #000;
	left: auto;
	right: 8rem;
	text-align: right;
}
.section-31 .media {
	display: flex;
	justify-content: space-between;
	margin: 0 -2rem;
	padding: 13rem 0;
}
.section-31 .media a {
	padding: 0 2rem;
}
.section-31 .media img {
	height: auto;
}
.section-31 img[src*='logo-forbes'] {
	width: 7.9rem;
}
.section-31 img[src*='logo-digital-journal'] {
	width: 20.8rem;
}
.section-31 img[src*='logo-ted'] {
	width: 6.2rem;
}
.section-31 img[src*='logo-ny-weekly'] {
	width: 23.7rem;
}
.section-31 img[src*='logo-tech-bullion'] {
	width: 11.1rem;
}
.section-31 img[src*='logo-theamericanreporter'] {
	width: 29.4rem;
}
/* ~~~ */
.section-32 {
	padding-top: 12.9rem;
	background: url(images/sections/section-30/bg-4-people-in-a-circle.svg) 8rem 110.3rem/7.9rem no-repeat, url(images/sections/section-32/bg-1.jpg) 0 0/192rem no-repeat, url(images/sections/section-32/bg-2.jpg) 0 68.9rem/192rem no-repeat;
}
.section-32 .event-name {
	top: 21rem;
	z-index: 1;
}
.section-32 .blot::after {
	top: auto;
	bottom: 12rem;
}
.section-32 figure {
	position: relative;
	margin: 0 -8rem;
}
.section-32 figure img {
	width: 192rem;
	height: auto;
}
.section-32 .blot {
	color: #fff;
}
.section-32 h4 {
	width: 95rem;
	margin-top: 4rem;
}
.section-32 h4 + p {
	width: 87rem;
	margin: 12rem 0 0 72rem;
	padding-bottom: 12.5rem;
}
/* ~~~ */
.section-33 {
	height: 96rem;
	padding: 8rem;
	box-sizing: content-box;
	align-content: flex-start;
}
.section-33 img {
	width: 96rem;
	height: auto;
}
.section-33 figure {
	position: relative;
	margin-right: 12rem;
	z-index: -1;
}
.section-33 figure::after {
	content: '';
	width: 126.6rem;
	height: 60rem;
	position: absolute;
	top: 28rem;
	left: -8rem;
	background: url(images/sections/section-33/bg.svg) 0 0 / contain no-repeat;
	z-index: 1;
}
.section-33 .event-name {
	top: auto;
	left: auto;
	bottom: 2.5rem;
	right: 2.5rem;
	text-align: right;
}
.section-33 h4 ~ p {
	width: 60rem;
}
.section-33 h4 {
	width: 40rem;
	margin: 8rem 0 5rem;
}
/* ~~~ */
.section-34 {
	padding: 8rem;
	padding-left: 44rem !important;
}
.section-34 h2 {
	width: 72rem;
	margin-bottom: 13rem;
}
.section-34 ul {
	list-style: unset;
	margin: 4rem 0 4rem 5rem;
}
.section-34 li,
.section-35 li {
	padding-left: 0.5rem;
}
/* ~~~ */
.section-35 {
	display: flex;
	padding-top: 24rem;
	padding-bottom: 4rem;
}
.section-35 h2 {
	position: relative;
	width: 46rem;
}
.section-35 h2::after {
	content: '';
	position: absolute;
	top: 11.8rem;
	left: 107%;
	width: 55.1rem;
	height: 12rem;
	background: url(images/sections/section-35/arrow.svg) 0 0 / contain no-repeat;
}
.section-35 ul {
	width: 50rem;
	margin-top: 12.7rem;
	margin-left: 68rem;
	list-style: unset;
}
.section-35 li {
	padding-left: 0.5rem;
	padding-bottom: 4rem;
}
/* ~~~ */
.section-36 {
	padding-top: 8rem;
	color: #F48E8E;
	background: url(images/sections/section-36/bg-1.jpg) 0 0/contain no-repeat;
}
.section-36 .flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 176rem;
}
.section-36 .flex > * {
	width: 68rem;
}
.section-36::after {
	color: #fff;
}
.section-36 h4 {
	margin: 10rem 0 5rem;
}
.section-36 footer {
	position: relative;
	height: 23.7rem;
	margin: 0 -8rem;
	background: url(images/sections/section-36/logo-support-meaning-inspiration.svg) 8rem 6.5rem/32.7rem no-repeat, url(images/sections/section-36/bg-2.jpg) 0 0/100vw no-repeat;
}
.section-36 footer .event-name {
	top: 6rem;
	right: 8rem;
	left: auto;
	text-align: right;
}
/* ~~~ */
.section-37 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 72rem;
	padding: 8rem 0 16rem;
	box-sizing: content-box;
	background: url(images/sections/section-37/san-francisco-hub.svg) top right/14rem no-repeat, url(images/sections/section-37/bg.jpg) 0 0/contain no-repeat;
}
.section-37::after {
	top: auto;
	bottom: 17rem;
}
.section-37::before {
	content: '';
	position: absolute;
	height: 8rem;
	left: 0;
	right: 0;
	bottom: 0;
	background: #E1F0A3;
}
.section-37 img {
	width: 68rem;
	height: auto;
}
.section-37 figure {
	margin-left: 11rem;
}
.section-37 h2 {
	width: 52rem;
}
.section-37 h4 {
	margin: 8rem 0;
}
.section-37 address {
	width: 25rem;
	margin-top: 12rem;
	margin-left: 36rem;
}
.section-37 address a {
	display: block;
	font-size: 2.8rem;
	line-height: 4rem;
	padding-left: 3.8rem;
	color: inherit;
	text-decoration: none;
	background: 0 0.9rem/2.5rem no-repeat;
}
.section-37 address a.telegram {
	background-image: url(images/sections/section-37/icon-telegram.svg);
}
.section-37 address a.whatsapp {
	background-image: url(images/sections/section-37/icon-whatsapp.svg);
}
.section-37 address a.email {
	background-image: url(images/sections/section-37/icon-email.svg);
}
